<h2> My contacts </h2>

<ul>
  <% @contacts.each do |contact| %>
  <li>
    <%= contact.name%> <a href="contacts/<%=contact.id%>/edit">edit</a> <a href="contacts/<%=contact.id%>/delete">delete</a>
  </li>

  <% end %>
</ul>

<br>
<h3><a href="/contacts/new">Add new contact</a></h3>
