<% if session[:errors] %>
<% session[:errors].full_messages.each do |message| %>
<p><%= message %> </p>
<%end%>
<% end %>

<form action="/contacts" method="POST">

  Name:<br>
  <input type="text" name="name"><br>
  <input type="submit" name="submit">
</form>
