<form action="/contacts/<%= @contact.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />

  name: <input value=<%= @contact.name %> type="text" name="name">
  <input type="submit" value='Delete contact?'>
</form>
