<div class="homecontent">
  <h2>Hi, my name is Giuditta</h2>
  <p>This is the contact list application I wrote using Sinatra.</p>
  <p>Click here <a href="/contacts"><button button class="button button5">My contacts</button></a> and open my contact list.</p>
  <br />
  Please add your name and phone number(s). But do not expect a call from me. I really hate phone calls!</p>


</div>

<div class="homefooter">
  <p>Footer</p>
</div>
