<div class="page-wrap">
  
    <div class="homecontent">
      <h2>Hi, my name is Giuditta</h2>
      <p>This is the contact list application I wrote using Sinatra.</p>
      <p>Click here <a href="/contacts"><button button class="button button5">My contacts</button></a> and open my contact list.</p>
      Please add your name and phone number(s). But do not expect a call from me. I really hate phone calls!</p>
      <img src="/images/home.jpg" alt="Rotary telephones" style="width:500px;height:300px;">
    </div>

    <div class="homefooter">
      <p>I thank all the coaches at Code Curious and Codebar Berlin who helped me to complete this application.</p>
    </div>

</div>
