<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <h1>Phone numbers</h1>
        <p><b>Name: #print here the contact_id name#</b></p>
        <ul>
        <li>phone number 1</li>
        <li>phone number 2</li>
        <li>phone number 3</li>
        <li>phone number ...</li>
      </ul>
    </body>
</html>
