<!DOCTYPE html>
<html>
    <head>
        <title>Contact List</title>
    </head>
    <body>
      <%= yield %>
      <% if @message %>
      <p><%= @message %></p>
      <% end %>
    </body>
  </html>
